DEBUG=True
SECRET_KEY=Your_secret_key
ALLOWED_HOSTS=localhost, 127.0.0.1
LANG_OPTION='en'
INTERNAL_IPS=127.0.0.1

#------------- Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/testdb
# DATABASE_URL=<protocolo postgres>://<usuario>:<senha>@<endereço ip>:<porta>/<nome_do_banco>
# Command to access : psql postgres://phsw:senhasegura@localhost:5432/postgres 

#-------------AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

#---------SMTP com anymail
DEFAULT_FROM_EMAIL="Celery <myemail@gmail.com>"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_HOST_USER="myemail@gmail.com"
EMAIL_HOST_PASSWORD=the_token_key

#------------- Regis URL
CELERY_BROKER_URL=redis://127.0.0.1:6379
