[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages] 
django = "*"
djangorestframework = "*"
drf-yasg = "*"
django-role-permissions = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
sentry-sdk = "*"
django-anymail = "*"
gunicorn = "*"
django-cpf-cnpj = "*"
django-extensions = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-django = "*"
model-bakery = "*"
ipython = "*"
neovim = "*"
faker = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
